* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

input:focus {
    border-color: #850ef5;
    box-shadow: 0 0px 10px #b471f3;
    outline: none;
}

button {
    background-color: rgb(224, 191, 255);
    border: 2px solid rgb(125, 112, 138);
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

button:active {
    background-color: rgb(203, 153, 250);
}

table {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

td {
    border-bottom: 1px solid black;
}

th {
    border: black 1px solid;
    padding: 15px;
}

.search {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px black;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.grid-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}

.form {
    margin-bottom: 15px;
    text-align: left;
    width: 96%;
    font-weight: bold;
}

.bg-img1 {
    background-image: url('./imagens/bg1.png');
    background-size: cover;
}

.bg-img2 {
    position: relative;
    background-image: url('./imagens/bg2.png');
    background-size: cover;
    background-position: 100% 60%;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.bg-img2::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    pointer-events: none;
}



.hr-card {
    width: 96%;
    translate: 0 -10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 246, 255);
}

.mini-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.resposta {
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
}

.alert {
    background-color: #e2bf73;
}

.danger {
    background-color: #ff9797;
}

.success {
    background-color: #b3f8bf;
    text-align: left;
    font-size: 12px;
}

.page-wrapper {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.main-page {
    background-color: rgb(247, 246, 255);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.tabela {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.col-2 {
    display: flex;
    justify-content: center;
    gap: 0 4%;
    margin-bottom: 10px;
    margin-right: 1.5%;
    align-items: center;
}

.col-2>div {
    width: 46%;
    margin: 0px;
    padding: 0px;
}

.bg-purple {
    background-color: #b471f3;
    border: 2px #850ef5 solid;
}

.bg-purple:focus {
    background-color: #b471f3;
    border: 2px #850ef5 solid;
}


.btn-big {
    padding: 10px;

}

.btn-salvar {
    background-color: #b3f8bf;
    border: 1px solid #6a9471;
}

.btn-salvar:active {
    background-color: rgb(130, 207, 143);
}

.btn-editar {
    background-color: #ffdf9b;
    border: 1px solid #ac9b77;
}

.btn-editar:active {
    background-color: #e2bf73;
}

.btn-deletar {
    background-color: #ff9797;
    border: 1px solid rgb(161, 118, 118);
}

.btn-deletar:active {
    background-color: #fa7e7e;
}

@media (max-width: 1300px) { /* Tablets maiores */
    .grid-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) { /* Tablets menores */
    .grid-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) { /* Celular */
    .grid-cards {
        grid-template-columns: repeat(1, 1fr);;
    }
}