* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 12px;
}
input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

input:focus {
    border-color: #850ef5;
    box-shadow: 0 0px 10px #b471f3;
    outline: none;
}

button {
    background-color: rgb(224, 191, 255);
    border: 2px solid  rgb(125, 112, 138);
    border-radius: 5px;
    padding: 5px;
}
button:active {
    background-color: rgb(203, 153, 250);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 246, 255);
}

.resposta {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.alert {
    background-color: #ffb183;
}
.danger {
    background-color: #ff8383;
}
.success{
    background-color: #bbff94;
    text-align: left;
    font-size: 12px;
}
.form-wrapper {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.main-page{
    background-color: rgb(247, 246, 255);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.tabela {
    display: grid;
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.linha div {
    width: 48%;
}

.bg-purple {
    background-color: #b471f3;
    border: 2px #850ef5 solid;
}

.bg-purple:focus {
    background-color: #b471f3;
    border: 2px #850ef5 solid;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


.btn-big {
    padding: 10px;
    
}
.btn-salvar {
    background-color: rgb(167, 255, 182);
    border: 1px solid rgb(106, 148, 113);
}
.btn-salvar:active {
    background-color: rgb(130, 207, 143);
}
.btn-editar {
    background-color: #ffdf9b;
    border: 1px solid #ac9b77;
}
.btn-editar:active {
    background-color: #e2bf73;
}
.btn-deletar {
    background-color: rgb(255, 151, 151);
    border: 1px solid rgb(161, 118, 118);
}
.btn-deletar:active {
    background-color: rgb(250, 126, 126);
}